.b-form {
  width: 400px;
  padding: 2rem 1rem;
  label {
    display: block;
    padding-bottom: 0.125rem;
  }
  &__select {
    select {
      height: 1.750rem;
      line-height: 1.750rem;
      border-radius:0.375rem;
      outline: 0;
    }
  }
  .b-section__row {
    margin-bottom: 1rem;
  }
}