/*
** TYPOGRAPHY
** font-face
** @import
** basic styles
*/

// FONT FACE : begin
// @font-face {
// 	font-family:'';
// 	src: url('../fonts/');
// 	src: url('../fonts/') format('embedded-opentype'),
// 		url('../fonts/') format('woff'),
// 		url('../fonts/') format('truetype'),
// 		url('../fonts/') format('opentype'),
// 		url('../fonts/') format('svg');
// 	font-weight: 600;
// 	font-style: normal;
// 	font-stretch: normal;
// 	unicode-range: U+000D-E000;
// }
// FONT FACE : end

// IMPORT : begin
//@import url('https://fonts.googleapis.com/css?family=Roboto');
// IMPORT : end

html {
    -webkit-font-smoothing: antialiased;
}

body {
    //font-family: $primary-font;
    //font-size: 14px;
    //font-weight: 400;
    //line-height: 1.5;
    //color: #010101;
    text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
}

// h1-h6 titles : begin
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    padding: 0;
}

h1,
.h1 {
}

h2,
.h2 {
}

h3,
.h3 {
}

h4,
.h4 {
}

h5,
.h5 {
}

h6,
.h6 {
}

.suptitle,
.subtitle {
}

.suptitle {
}

.subtitle {
}
// h1-h6 titles : begin

// small
small,
.small {
}

// text (link, bold, italic) : begin
p {
    margin: 0;
    padding: 0;

    b {
        font-weight: bold;
    }

    i {
        font-style: italic;
    }

    a {
        // default styles for normal links
        &[href]:not([class]) {
        }

        &:hover {
        }

        &:active {
        }

        &:visited {
        }
    }
}

// text (link, bold, italic) : end

// bulleted list : begin
ul {
    margin: 0;
    padding: 0;

    li {
    }
}

// bulleted list : end

// numbered list : begin
ol {
    margin: 0;
    padding: 0;

    li {
    }
}

// numbered list : end

// table : begin
table {
    width: 100%;
    margin: 0;
    padding: 0;

    &:hover {
        transition: all 0.2s ease;
    }

    tr {
        th,
        td {
            padding: 10px 13px;
            text-align: left;
            border: 1px solid #010101;
        }

        th {
            font-weight: bold;
            font-size: 120%;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

// table : end

// hor line
hr {
}