@mixin _assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num != null and $prev-num >= $num {
      @warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}


// Colors
$red:                       #d63b25 !default;
$red-2:                     #d2503d !default;
$red-light:                 #ff523a !default;
$red-lighter:               #ff7561 !default;

$black:                     #000000 !default;

$white:                     #ffffff !default;

$gray-dark:                 #333333 !default;
$gray:                      #55595c !default;
$gray-light:                #e0e0e0 !default;
$gray-lighter:              #ececec !default;
$gray-lightest:             #e2e2e2 !default;

$brand-primary:             #576f6b !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;

$brand-color-rubric1:		#b5680a !default;
$brand-color-rubric2: 		#efb03b !default;
$brand-color-rubric3: 		#e2d38e !default;
$brand-color-rubric4: 		#9ca06d !default;
$brand-color-rubric5: 		#789102 !default;


// Options

$enable-flex:               false !default;
$enable-rounded:            true !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        false !default;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;


// Spacing

$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  3: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  )
) !default;

$border-width: 1px !default;


// Body

$body-bg:    #fff !default;
$body-color: #333 !default;


// Links

$link-color:            #333 !default;
$link-hover-color:      #efb03b !default;


// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");


// Grid containers

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns

$grid-columns:      12 !default;
$grid-gutter-width: 30px !default;


// Typography

$font-family-primary: 'Helvetica Neue Roman', sans-serif;
$font-family-bold: 'Helvetica Neue Bold', sans-serif;
$font-family-thin: 'Helvetica Neue Thin', sans-serif;
$font-family-light: 'Helvetica Neue Light', sans-serif;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 16px !default;

$font-size-base: 1rem !default;
$font-size-lg:   1rem !default;
$font-size-sm:   .875rem !default;
$font-size-xs:   .75rem !default;

$line-height-base: 1.25 !default;
$line-height:      1.25 !default;

$font-size-h1: 2.5rem !default;
$font-size-h2: 3.625em !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;

$headings-margin-top: 	    0 !default;
$headings-margin-bottom: 	1em !default;
$headings-padding-top:      3.75rem;
$headings-font-family:   	inherit !default;
$headings-font-weight:   	300 !default;
$headings-line-height:   	1.2 !default;
$headings-color:         	inherit !default;
$headings-link-color: 		#333 !default;
$headings-link-hover-color: #efb03b !default;

$small-font-size: 80% !default;

$text-muted: #ccc !default;

$abbr-border-color: $gray-light !default;


// Components

$line-height-lg:         1.25 !default;

$border-radius:          .125rem !default;
$border-radius-lg:       .125rem !default;

$component-active-color: #fff !default;
$component-active-bg:    $brand-primary !default;

$caret-width:            .3em !default;
$caret-width-lg:         $caret-width !default;


// Tables

$table-cell-padding:            .75rem !default;
$table-sm-cell-padding:         .3rem !default;

$table-bg:                      transparent !default;
$table-bg-accent:               #f9f9f9 !default;
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;

$table-border-width:            $border-width !default;
$table-border-color:            $gray-lighter !default;


// Buttons

$btn-padding-x:                  .75rem !default;
$btn-padding-y:                  .5rem !default;
$btn-line-height:                1.25 !default;
$btn-font-weight:                normal !default;
$btn-box-shadow:                 none;
$btn-active-box-shadow:          none;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $btn-primary-bg !default;

$btn-secondary-color:            #fff !default;
$btn-secondary-bg:               #576f6b !default;
$btn-secondary-border:           #576f6b !default;

$btn-link-disabled-color:        $gray-light !default;

$btn-padding-x-lg:               1rem !default;
$btn-padding-y-lg:               .875rem !default;

$btn-border-radius:              $border-radius !default;
$btn-border-radius-lg:           $border-radius-lg !default;


// Forms

$input-padding-x:                .75rem !default;
$input-padding-y:                .5rem !default;
$input-line-height:              1.25 !default;

$input-bg:                       #fff !default;
$input-bg-disabled:              $gray-lighter !default;

$input-color:                    #000 !default;
$input-border-color:             #576f6b !default;
$input-btn-border-width:         $border-width !default;
$input-box-shadow:               none !default;

$input-border-radius:            $border-radius !default;
$input-border-radius-lg:         $border-radius-lg !default;

$input-border-focus:             #efb03b !default;
$input-box-shadow-focus:         none !default;

$input-color-placeholder:        #999 !default;

$input-padding-x-lg:             1rem !default;
$input-padding-y-lg:             .875rem !default;

$input-height:                   (($font-size-base * $line-height-base) + ($input-padding-y * 2)) !default;
$input-height-lg:                (($font-size-lg * $line-height-lg) + ($input-padding-y-lg * 2)) !default;

$form-group-margin-bottom:       1.7rem !default;

$input-group-addon-bg:           #fff !default;
$input-group-addon-border-color: $input-border-color !default;

$cursor-disabled:                not-allowed !default;


// Label

$label-color: 								#fff !default;
$label-link-hover-color:			#fff !default;
$label-muted-bg: 							#ccc !default;


// Navs

$nav-disabled-link-color:       $gray-light !default;
$nav-disabled-link-hover-color: $gray-light !default;


// Tooltips

$tooltip-max-width:           200px !default;
$tooltip-color:               #fff !default;
$tooltip-bg:                  #000 !default;
$tooltip-opacity:             .9 !default;
$tooltip-padding-y:           3px !default;
$tooltip-padding-x:           8px !default;
$tooltip-margin:              3px !default;

$tooltip-arrow-width:         5px !default;
$tooltip-arrow-color:         $tooltip-bg !default;


// Popovers

$popover-bg:                          #fff !default;
$popover-max-width:                   276px !default;
$popover-border-width:                $border-width !default;
$popover-border-color:                rgba(0,0,0,.2) !default;
$popover-box-shadow:                  0 5px 10px rgba(0,0,0,.2) !default;

$popover-title-bg:                    darken($popover-bg, 3%) !default;
$popover-title-padding-x:             14px !default;
$popover-title-padding-y:             8px !default;

$popover-content-padding-x:           14px !default;
$popover-content-padding-y:           9px !default;

$popover-arrow-width:                 10px !default;
$popover-arrow-color:                 $popover-bg !default;

$popover-arrow-outer-width:           ($popover-arrow-width + 1px) !default;
$popover-arrow-outer-color:           fade-in($popover-border-color, .05) !default;


// Modals

$modal-inner-padding:         15px !default;

$modal-dialog-margin:         10px !default;
$modal-dialog-sm-up-margin-y: 30px !default;

$modal-title-padding:         15px !default;
$modal-title-line-height:     $line-height-base !default;

$modal-content-bg:               #fff !default;
$modal-content-border-color:     rgba(0,0,0,.2) !default;
$modal-content-border-width:     $border-width !default;
$modal-content-xs-box-shadow:    0 3px 9px rgba(0,0,0,.5) !default;
$modal-content-sm-up-box-shadow: 0 5px 15px rgba(0,0,0,.5) !default;

$modal-backdrop-bg:           #000 !default;
$modal-backdrop-opacity:      .5 !default;
$modal-header-border-color:   #e5e5e5 !default;
$modal-footer-border-color:   $modal-header-border-color !default;
$modal-header-border-width:   $modal-content-border-width !default;
$modal-footer-border-width:   $modal-header-border-width !default;

$modal-lg:                    900px !default;
$modal-md:                    600px !default;
$modal-sm:                    300px !default;


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:             160px !default;
$dropdown-padding-y:             5px !default;
$dropdown-margin-top:            2px !default;
$dropdown-bg:                    #fff !default;
$dropdown-border-color:          rgba(0,0,0,.15) !default;
$dropdown-border-width:          $border-width !default;
$dropdown-divider-bg:            #e5e5e5 !default;
$dropdown-box-shadow:            0 6px 12px rgba(0,0,0,.175) !default;

$dropdown-link-color:            $link-color !default;
$dropdown-link-hover-color:      #fff !default;
$dropdown-link-hover-bg:         $link-hover-color !default;

$dropdown-link-active-color:     $component-active-color !default;
$dropdown-link-active-bg:        $component-active-bg !default;

$dropdown-link-disabled-color:   $gray-light !default;

$dropdown-item-padding-x:        20px !default;

$dropdown-header-color:          $gray-light !default;


// Z-index master list

$zindex-dropdown-backdrop:  990 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-modal-bg:          1040 !default;
$zindex-modal:             1050 !default;


// Pagination

$pagination-color:                     $btn-secondary-color !default;
$pagination-bg:                        $btn-secondary-bg !default;
$pagination-border-width:              $border-width !default;
$pagination-border-color:              $btn-secondary-border !default;

$pagination-hover-color:               #fff !default;
$pagination-hover-bg:                  lighten($pagination-bg, 10%) !default;
$pagination-hover-border:              lighten($pagination-border-color, 12%) !default;

$pagination-active-color:              #fff !default;
$pagination-active-bg:                 lighten($pagination-bg, 10%) !default;
$pagination-active-border:             lighten($pagination-border-color, 12%) !default;

$pagination-disabled-color:            $gray-light !default;
$pagination-disabled-bg:               #fff !default;
$pagination-disabled-border:           #ddd !default;

$susy: (
        flow: ltr,
        math: fluid,
        output: float,
        gutter-position: after,
        container: auto,
        container-position: left,
        columns: 4,
        gutters: .25,
        column-width: false,
        global-box-sizing: content-box,
        last-flow: to,
        debug: (
                image: hide,
                color: rgba(#66f, .25),
                output: background,
                toggle: top right,
        ),
        use-custom: (
                background-image: true,
                background-options: false,
                box-sizing: true,
                clearfix: false,
                rem: true,
        )
);

$layout-lg: (
  gutters: .5
)