/*
* Удалите этот файл и директорию перед началом работы
* Удалите @import файла в default-project.scss
*/

body {
    background: #fcfcfc;
    font-family: Georgia, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.61;
    color: #010101;
}

// HEADER PAGE : begin
.b-header {
    margin: 30px 0;
    text-align: center;

    h1 {
        margin: 0 0 10px;
        font-size: 36px;
        font-weight: normal;
        line-height: 1.2;
    }

    p {
    }
}
// HEADER PAGE : end

// NAVIGATION : begin
.b-nav {
    margin: 50px 0;

    ul {
        @include justify-blocks;

        li {
            display: inline-block;
            font-size: 16px;
            line-height: 1;

            a {
                font-size: 17px;
                line-height: 1;
                color: #00b3ee;
            }
        }
    }
}
// NAVIGATION : end

// CONTENT PAGE : begin
.b-section {
    margin: 30px 0;

    h2 {
        font-size: 27px;
        margin: 26px 0 16px;
        line-height: 1.3;
    }

    h3 {
        font-size: 24px;
        margin: 20px 0 20px;
        line-height: 1.3;
    }

    p {
        margin: 18px 0;
    }

    ul {
        margin: 18px 0 18px 19px;

        > li {
            margin-bottom: 15px;

            span {
                font-weight: bold;

                i {
                    background: rgba(173, 255, 47, 0.58);
                    font-weight: normal;
                    padding: 0 3px;
                }
            }

            > ul {
                margin: 18px 0 18px 22px;

                > li {
                    font-size: 93%;
                    font-weight: bold;

                    i {
                        display: block;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}
// CONTENT PAGE : end

// FOOTER PAGE : begin
.b-footer {
    padding: 10px 0;

    p {
        font-size: 12px;
        line-height: 1.2;
        color: #9a9a9a;
        text-align: center;
    }
}
// FOOTER PAGE : end