// Выравниваем по центру по горизонтали любой блок
@mixin horizontal-center {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}