<!DOCTYPE HTML>
<html>
<head>
    <!-- BASE -->
    <meta charset="utf-8">
    <title>Start here!</title>

    <!-- SEO -->
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- disable select tel. and skype numbers -->
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">

    <!-- FAVICONS -->
    <!--
     <link rel="icon" type="image/png" href="assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
    -->

    <!-- FONT -->
    <!-- <link rel="stylesheet" href="libs/fonts/stylesheet.css"> -->

    <!-- CSS -->
    <link rel="stylesheet" href="/dist/css/default-project.css">

</head>

<body>
<header id="header" class="b-header">

</header>
<section class="b-section">
    <div class="container">
        <div class="b-form js-form">
            <form action="">
                <div class="b-section__row">
                    <div class="b-section__col">
                        <div class="b-form__select">
                            <label for="select1">Select1</label>
                            <select name="" id="select1">
                                <option value="">Select a value</option>
                                <option value="">Value1</option>
                                <option value="">Value2</option>
                                <option value="">Value2</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="b-section__row">
                    <div class="b-section__col">
                        <div class="b-form__select">
                            <label for="select2">Select2</label>
                            <select name="" id="select2">
                                <option value="">Option1</option>
                                <option value="">Option2</option>
                                <option value="">Option3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<footer>

</footer>

<script src="/dist/js/default-project-base.js"></script>
<script src="/dist/js/default-project-run.js"></script>
</body>
</html>