<!DOCTYPE HTML>
<html>
<head>
    <!-- BASE -->
    <meta charset="utf-8">
    <title>Start here!</title>

    <!-- SEO -->
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- disable select tel. and skype numbers -->
    <meta name="format-detection" content="telephone=no">
    <meta name="skype-toolbar" content="skype-toolbar-parser-compatible">

    <!-- FAVICONS (http://favicon-generator.org) -->

    <!-- CSS -->
    <link rel="stylesheet" href="/dist/css/default-project.css">

</head>

<body>
<!-- HEADER PAGE : begin -->
<header class="b-header">Start here!</header>
<!-- HEADER PAGE : end -->

<!-- JS -->
<script src="/dist/js/default-project-base.js"></script>
<script src="/dist/js/default-project-run.js"></script>
</body>
</html>