/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 0px;
$icon-facebook-y: 0px;
$icon-facebook-offset-x: 0px;
$icon-facebook-offset-y: 0px;
$icon-facebook-width: 64px;
$icon-facebook-height: 64px;
$icon-facebook-total-width: 136px;
$icon-facebook-total-height: 136px;
$icon-facebook-image: '../img/icon-sprite.png';
$icon-facebook: (0px, 0px, 0px, 0px, 64px, 64px, 136px, 136px, '../img/icon-sprite.png', 'icon-facebook', );
$icon-instagram-name: 'icon-instagram';
$icon-instagram-x: 72px;
$icon-instagram-y: 0px;
$icon-instagram-offset-x: -72px;
$icon-instagram-offset-y: 0px;
$icon-instagram-width: 64px;
$icon-instagram-height: 64px;
$icon-instagram-total-width: 136px;
$icon-instagram-total-height: 136px;
$icon-instagram-image: '../img/icon-sprite.png';
$icon-instagram: (72px, 0px, -72px, 0px, 64px, 64px, 136px, 136px, '../img/icon-sprite.png', 'icon-instagram', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 0px;
$icon-twitter-y: 72px;
$icon-twitter-offset-x: 0px;
$icon-twitter-offset-y: -72px;
$icon-twitter-width: 64px;
$icon-twitter-height: 64px;
$icon-twitter-total-width: 136px;
$icon-twitter-total-height: 136px;
$icon-twitter-image: '../img/icon-sprite.png';
$icon-twitter: (0px, 72px, 0px, -72px, 64px, 64px, 136px, 136px, '../img/icon-sprite.png', 'icon-twitter', );
$spritesheet-width: 136px;
$spritesheet-height: 136px;
$spritesheet-image: '../img/icon-sprite.png';
$spritesheet-sprites: ($icon-facebook, $icon-instagram, $icon-twitter, );
$spritesheet: (136px, 136px, '../img/icon-sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icons-home {
  @include sprite-width($icons-home);
}

.icons-email {
  @include sprite($icons-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icons-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icons {
  display: inline-block;
}

// HTML
<i class="icons icons-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
